.center-bottom, .left, .top {
    -fx-padding: 10;
    -fx-spacing: 10;
}

.anchor-pane, .center, .center-bottom, .center-top, .left, .time-anchor-pane, .top {
    -fx-border-color: black;
}

.center-bottom .button, .center-top .button, .left .button, .buttons .button {
    -fx-max-width: Infinity;
}

.anchor-pane .label {
    -fx-background-color: green;
    -fx-border-color: black;
    -fx-text-fill: white;
    -fx-padding: 5;
    -fx-min-height: 0;
}

.anchor-pane Region {
    -fx-border-style: solid centered;
}

.time {
    -fx-alignment: top-center;
    -fx-border-color: black;
    -fx-padding: 5;
    -fx-pref-height: 120;
}

.top {
    -fx-alignment: center;
}

.notification {
    -fx-padding: 10;
    -fx-background-color: yellow;
    -fx-border-color: black;
    -fx-font-size: 25;
}